.header__menu_close {
  display: none;
  background-image: url("./../../../../images/close.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

@media (max-width: 500px) {
  .header__menu_close {
    display: block;
    background-image: url("./../../../../images/close.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
  }
}
