@import url("./__logo/header__logo.css");
@import url("./__text/header__text.css");
@import url("./__user/header__user.css");
@import url("./__text-container/header__text-container.css");
@import url("./__menu/header__menu.css");
@import url("./__menu-container/header__menu-container.css");

.header {
  width: 70%;
  max-width: 882px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: #545454 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 80%;
  }
}

@media (min-width: 500px) and (max-width: 824px) {
  .header {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .header {
    width: 87.5%;
    padding: 28px 0 32px;
  }
}
