@import url("./_close/header__menu_close.css");

.header__menu {
  display: none;
  background-image: url("./../../../images/hamburger.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

@media (max-width: 500px) {
  .header__menu {
    display: block;
    background-image: url("./../../../images/hamburger.svg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
  }
}
