@import url("./__user/hiddenlogout__user.css");
@import url("./__text/hiddenlogout__text.css");
@import url("./_closed/hiddenlogout_closed.css");

.hiddenlogout {
  display: none;
  z-index: 3;
}

@media (max-width: 500px) {
  .hiddenlogout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
